<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="renderer" content="webkit">
    <title>Document</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>标注规则说明</h3>
            <ul>
                <li>
                    <p>翻译中不允许出现括号、省略号等非标准字符；</p>
                </li>
                <li>
                    <p>翻译时一定要将含义表述全面，完整</p>
                    <p>仔细分析下面的例子：<b>English lemmas: twenty-two, .22</b></p>
                    <p><b>English definition: A .22 caliber firearm (pistol or rifle)</b></p>
                    <p>应该翻译为：<b>.22口径; .22口径的枪; .22口径的手枪; .22口径的步枪</b></p>
                    <p>第一个<b>.22口径</b> 根据 <b>English lemmas: twenty-two, .22</b></p>
                    <p>第二个<b>.22口径的枪</b> 根据 <b>A .22 caliber firearm</b></p>
                    <p>第三个<b>.22口径的手枪</b> 根据 <b>pistol</b></p>
                    <p>第四个<b>.22口径的步枪</b> 根据 <b>rifle</b></p>
                </li>
                <li>
                    <p>标注结果页面的数据需要管理员审核后才会更新。</p>
                </li>
            </ul>
            <h3>薪酬说明</h3>
            <ul>
                <li>
                    <p>基本工资为每条0.39元；</p>
                </li>
                <li>
                    <p>标注质量100%正确，工资增加10%；</p>
                </li>
                <li>
                    <p>标注质量100%～95%正确，工资增加5%；</p>
                </li>
                <li>
                    <p>标注质量95%～90%正确，工资为标准工资；</p>
                </li>
                <li>
                    <p>标注质量90%～80%正确，工资为标准工资的60%；</p>
                </li>
                <li>
                    <p>标注质量低于80%正确，无工资；</p>
                </li>
            </ul>
            <h3>工具下载</h3>
            <ul>
                <li><a href="/uploads/GoldenDict-1.0.1-Portable.zip">GoldenDict</a></li>
                <li><a href="/uploads/O8C.zip">牛津高阶英汉词典</a></li>
                <li><a href="/uploads/朗文当代英语大词典(英汉汉英)第4版.mdx.zip">朗文当代英语大词典(英汉汉英)第4版</a></li>
                <li><a href="/uploads/[英-汉] 柯林斯有道20170106.zip">[英-汉] 柯林斯有道20170106</a></li>
                <li><a href="/uploads/英汉大词典（第二版）陆谷孙紧凑版.zip">英汉大词典（第二版）陆谷孙紧凑版</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>