<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="renderer" content="webkit">
    <title>修改建议</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <br>
            <form class="form-inline" style="margin-bottom: 15px" method="get">
                <a class="btn btn-default" href="{{ url_for('main.index') }}">首页</a>
            </form>
            {% if suggestion_logs %}
                <h4>修改建议</h4>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>English Lemmas</th>
                        <th>Chinese Lemmas</th>
                        <th>English Definition</th>
                        <th>Reason</th>
                        <th>Operation</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for log in suggestion_logs %}
                    <tr>
                        <td>{{ log['id'] }}</td>
                        <td>{{ log['english_lemmas'] }}</td>
                        <td>{{ log['chinese_lemmas'] }}</td>
                        <td>{{ log['english_definition'] }}</td>
                        <td>{{ log['comment'] }}</td>
                        <td><a href="{{ url_for('main.index') }}{{ log.task_id }}" target="_blank"> <span class="glyphicon glyphicon-edit"></span> modify</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h2>暂无修改建议</h2>
            {% endif %}
        </div>
    </div>
</div>
</body>
</html>